@font-face {
	font-family: "Montserrat-Bold";
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-SemiBold";
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
		url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

body {
	font-family: "Montserrat";
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

ul {
	margin: 0;
	display: flex;
	font-size: 16px;
	font-weight: 600;
}

li {
	list-style-type: none;
	padding-right: 35px;
}

li + li {
	padding-right: 35px;
}

.inst {
	width: 32px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__right {
	display: contents;
}

.inst {
	content: url(../img/ints.svg);
	width: 32px;
	height: 32px;
}

.header__content {
	position: relative;
}

.header__content__inner {
	display: flex;
	justify-content: space-between;
	max-width: 895px;
	margin: auto;
}

.content__title {
	font-size: 36px;
	font-weight: 700;
}

.content__content_subtitle {
	position: absolute;
	left: 30px;
	top: 110px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	transform: rotate(270deg);
	text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}

.content__content_title {
	padding: 280px 0 0 0;
}

p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.word {
	position: absolute;
	width: 220px;
	overflow: hidden;
	opacity: 0;
}

.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}

.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
	transform: rotateX(-90deg);
}

.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
	color: #8e44ad;
}

.belize {
	color: #2980b9;
}

.pomegranate {
	color: #c0392b;
}

.green {
	color: #16a085;
}

.midnight {
	color: #2c3e50;
}
